################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/PlutoTool/bin/
/PlutoTool/obj/
/PlutoTool/.vs/
